@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Lora", sans-serif;
    font-size: 20px;
}

.title {
    font-family: "Galada", sans-serif;
    font-size: 40px;
}